footer {
    background-color: rgb(4, 177, 211);
    border-radius: 10px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 15px;
    margin: 3vw auto 3vw auto;
    white-space: nowrap;
    box-sizing: border-box;
    .buttonFooter {
        font-size: 10px;
        text-decoration: none;
        border-radius: 5px;
        border: 0;
    }
}

.imgFooter {
    width: 11vw;
}

.buttonFooter:hover {
box-shadow: 5px 5px 5px white;
}

/*размеры телефонов*/
@media (min-width: 481px) {
    footer{
        width: 80%;
    }
}
/**/

/*размеры планшетов*/
@media (min-width: 769px) {
    footer{
        width: 50%;
    }
.imgFooter {
    width: 6vw;
}
}
/**/

/*размеры компьютеров*/
@media (min-width: 1025px) {

}
/**/