footer {
  bottom: 0;
  position: fixed;
  margin: 3vw auto;
  left: 0;
  right: 0;
  border-radius: 15px;
  display: flex;
  width: 40%;
  background-color: #008187;
  justify-content: space-between;
  white-space: nowrap;
  box-sizing: border-box;
}

.buttonFooter {
  background-color: #008187;
  box-sizing: border-box;
  font-size: 10px;
  padding: 10px 0px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 0;
  transition: filter 0.3s ease;
}

.buttonFooter:hover {
  filter: brightness(0.6);
}

.imgFooter {
  width: 5vw;
}
/*размеры планшетов*/
@media (max-width: 769px) {
  footer{
    width: 60%;
  }
  .buttonFooter {
    padding: 10px;
  }
  .imgFooter {
    width: 8vw;
  }
}
/*размеры телефонов*/
@media (max-width: 481px) {
  footer{
    width: 90%;
  }
  .buttonFooter {
    padding: 10px;
  }
  .imgFooter {
    width: 12vw;
  }
}


