/* calories_and_bjy*/
$blue_color: #008187;
$gray_color: #293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 28px;
$font_ps_text: 15px;
$border_radius: 15px;

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
    url('SegoeUI.woff2') format('woff2'),
    url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI_Bold';
  src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
    url('SegoeUI-Bold.woff2') format('woff2'),
    url('SegoeUI-Bold.woff') format('woff'),
    url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  font-family: "Segoe UI";
  background-color: $main_backgrounde;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#logo{
  width: 50vw;
  margin: 5% auto;
}
.main {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10%;
  text-align: center;
  background-color: $gray_color;
  font-size: $font_main_text;

  >a {
    font-size: $font_main_text;
    text-transform: uppercase;
    background-color: $blue_color;
    text-align: center;
    padding: 10px;
    color: $main_backgrounde;
    font-family: "Segoe UI_Bold";
    text-decoration: none;
    margin-top: 30px;
    border-radius: $border_radius;
  }

  >label {
    margin-top: 20px;
  }

  a:hover {
    background-color: #04b1d3b0;
  }
}

.enter {
  width: 100%;
  font-size: $font_main_text;
  text-transform: uppercase;
  background-color: $blue_color;
  text-align: center;
  padding: 10px;
  color: $main_backgrounde;
  font-family: "Segoe UI_Bold";
  text-decoration: none;
  margin-top: 80vw;
  border-radius: $border_radius;
}

.buttonMod:hover {
  background-color: #04b1d3b0;
}

form {
  width: 85%;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  text-align: center;
  font-size: $font_main_text;

  input {
    font-size: $font_main_text;
    border: 3px solid $blue_color;
    border-radius: $border_radius;
    padding: 20px 30px;
    background-color: $main_backgrounde;
    color: $gray_color;
    margin-top: 30px;
  }
}
footer{
  position: absolute;
  bottom: 0;
}

/*размеры телефонов*/
@media (min-width: 481px) {
}

/**/


/*размеры планшетов*/
@media (min-width: 769px) {
  #logo{
    width: 35vw;
    margin: 5% auto;
  }
}

/**/

/*размеры компьютеров*/
@media (min-width: 1025px) {
  #logo{
    width: 30vw;
    margin: 5% auto;
  }
}

/**/