$blue_color: #008187;
$gray_color: #293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 28px;
$font_ps_text: 15px;
$border_radius: 15px;

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
        url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff'),
        url('SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI_Bold';
    src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
        url('SegoeUI-Bold.woff2') format('woff2'),
        url('SegoeUI-Bold.woff') format('woff'),
        url('SegoeUI-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: "Segoe UI";
    background-color: $main_backgrounde;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    input {
        width: 90%;
        padding: 10px 20px;
        border-radius: $border_radius;
        font-size: $font_main_text;
        border: 2px solid $blue_color;
    }
    img{
        width: 10vw;
    }
    button {
        border: none;
    }
}

.product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: $border_radius;
    border: 2px solid $blue_color;
    font-size: $font_ps_text;

    text {
        text-align: center;
        color: $blue_color;
        font-size: $font_main_text;
    }

    p {
        text-align: center;
    }

    .modal-content2 {
        display: flex;
        flex-direction: column;
        text-align: center;

        .close2 {
            font-size: $font_main_text;
            color: $blue_color;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                border-radius: $border_radius;
                padding: 10px 20px;
                border: none;
            }

            button {
                margin-top: 20px;
                background-color: $blue_color;
                border-radius: $border_radius;
                padding: 10px 20px;
                border: none;
                color: $main_backgrounde;
            }
        }
    }

}
//стилизация добавления продукта
.product-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
        list-style-position: inside;
    }
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.row-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
////////////////
/// стилизация добавления своего продукта
#modal{
    margin: 5vw;
    padding: 20px;
    width: 80%; 
    border-radius: $border_radius;
    border: 2px solid $blue_color;
    font-size: $font_ps_text;
    position: relative;
    .close{
        position: absolute;
        right: 1vw;
        top: 0;
        font-size: $font_main_text;
    }
    .modal-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        textarea{
            width: 300px;
            height: 70px;
        }
        input{
            width: 40px;
        }
    }

}
@media (min-width: 769px) {
    .search {
        img{
            width: 5vw;
        }
    }
  }
