$blue_color: #2bbdb4;
$gray_color: #293b4b;
$green_color: #034236;
$main_backgrounde: white;
$font_20px: 20px;
$font_17px: 17px;
$font_15px: 15px;
$border_radius: 10px;

html {
  font-family: "Inter", sans-serif;
  background: rgb(207, 255, 245);
  background: linear-gradient(
      180deg,
      rgba(207, 255, 245, 1) 0%,
      rgba(241, 255, 252, 1) 100%
    )
    no-repeat;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-block-end: 0.2em;
  text-align: center;
  color: $green_color;
  text-transform: uppercase;
  font-weight: 600;
}
.general-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  margin: 10px auto;
  background-color: $blue_color;
  border-radius: $border_radius;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: $main_backgrounde;
  transition: filter 0.3s ease;
}
.general-button:hover {
  filter: brightness(0.7);
}
.search {
  width: 70%;
  .input-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid $blue_color;
    border-radius: $border_radius;
    padding: 1vw;
    background-color: white;
  }

  .input-wrapper input {
    font-size: $font_20px;
    flex: 1;
    border: none;
    outline: none;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
  }

  .icon-wrapper img {
    width: 3vw;
  }
}

#scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #008187;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#scrollTopButton.show {
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
}

#scrollTopButton:hover {
  animation: jump 0.3s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*размеры планшетов*/
@media (max-width: 769px) {
  .search, .activities-list, .product-item {
    width: 80%;
    .input-wrapper {
      padding: 1.5vw;
    }
    .icon-wrapper img {
      width: 4vw;
    }
  }

  .modal-content {
    input {
      width: 30%;
    }
  }
}
/**/
@media (max-width: 481px) {
  .search, .activities-list, .product-item {
    width: 90%;
    .input-wrapper {
      padding: 2vw;
    }
    .icon-wrapper img {
      width: 7vw;
    }
  }

  .modal-content {
    input {
      width: 50%;
    }
  }
}

/**/
