$blue_color: #008187;
$gray_color: #293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 24px;
$font_ps_text: 20px;
$border_radius: 5px;

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $main_backgrounde;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  color: #008187;
  font-weight: 700;
  font-size: $font_main_text;
}
.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
}
form {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.common-class {
  margin-top: 2vw;
  font-size: $font_ps_text;
  border: 1px solid $blue_color;
  padding: 10px 10px;
  border-radius: 5px;
  color: $blue_color;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-weight: 500;
  img {
    width: 5vw;
    border-radius: 50%;
  }
  input,
  select{
    border: 0px;
    font-weight: 700;
    color: $blue_color;
    background-color: white;
    font-size: $font_ps_text;
    max-width: 50%;
    text-align: end;
  }
  option{
    font-size: 15px;
    font-weight: 700;
  }
}
.general-button {
  font-family: Arial;
  text-decoration: none;
  margin: 3vw auto 0vw auto;
  background-color: $blue_color;
  border-radius: $border_radius;
  padding: 10px 20px;
  border: none;
  font-size: $font_main_text;
  cursor: pointer;
  color: $main_backgrounde;
}
.general-button:hover {
  background-color: #293b4b;
}

/*размеры планшетов*/
@media (max-width: 769px) {
  .common-class {
    padding: 10px 15px;
  }
  .general-button {
    margin: 3vw auto;
  }
}
/**/

/*размеры телефонов*/
@media (max-width: 481px) {
  footer {
    bottom: 0;
    position: fixed !important;
    margin: 3vw auto;
    left: 0;
    right: 0;
  }
  img {
    width: 12vw;
  }
  .general-button {
    margin: 10vw auto;
  }
}
/**/
