$blue_color: #008187;
$gray_color:#293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 24px;
$font_ps_text: 20px;
$border_radius: 5px;

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
      url('SegoeUI.woff2') format('woff2'),
      url('SegoeUI.woff') format('woff'),
      url('SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
      url('SegoeUI-Bold.woff2') format('woff2'),
      url('SegoeUI-Bold.woff') format('woff'),
      url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
}

html{
    font-family: "Segoe UI";
    background-color: $main_backgrounde;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title{
    color: #008187;
    font-weight: 700;
    font-size: $font_main_text;
}
.title-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
}
form{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.common-class{
    margin-top: 2vw;
    font-size: $font_ps_text;
    border: 1px solid $blue_color;
    padding: 10px 20px;
    border-radius: 5px;
    color: $blue_color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-weight: 500;
    img{
        width: 5vw;
        border-radius: 50%;
    }
    input, select, option{
        border: 0px;
        font-weight: 700;
        color: $blue_color;
        background-color: white;
        text-align: end;
    }
}
.save{
    margin: auto;
    margin-top: 5vw;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    background-color: white;
    font-size: $font_main_text;
    padding: 10px 30px;
    font-family: "Segoe UI";
    color: $blue_color;
    border-radius: 15px;
    border: 1px solid $blue_color;
}
footer{
    position: absolute;
    bottom: 0;
  }
@media (min-width: 350px) {
    img{
      width: 12vw;
    }
  }
