/* calories_and_bjy*/
$blue_color: #008187;
$gray_color:#293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 28px;
$font_ps_text: 15px;
$border_radius: 15px;

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
      url('SegoeUI.woff2') format('woff2'),
      url('SegoeUI.woff') format('woff'),
      url('SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
      url('SegoeUI-Bold.woff2') format('woff2'),
      url('SegoeUI-Bold.woff') format('woff'),
      url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
}

html{
    font-family: "Segoe UI";
    background-color: $main_backgrounde;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title{
    font-family: "Segoe UI Bold";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: $blue_color;
    font-size: $font_main_text;
}
textarea{
    padding: 15px;
    font-size: $font_main_text;
    border: 2px solid $blue_color;
    border-radius: $border_radius;
}

