$blue_color: #008187;
$gray_color: #293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 28px;
$font_ps_text: 15px;
$border_radius: 10px;

html {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: rgb(255, 237, 210);
  background: linear-gradient(
      0deg,
      rgba(255, 237, 210, 0.2) 0%,
      rgba(255, 241, 231, 0.2) 23%,
      rgba(232, 255, 249, 0.2) 67%,
      rgba(197, 219, 255, 0.2) 100%
    ),
    no-repeat;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
h2{
  text-align: center;
  margin: auto;
  //margin-top: 80%;
  opacity: 0.5;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: $blue_color;
  font-size: $font_main_text;
  width: 50%;
  margin: auto;
}
img{
  width: 10vw;
}

textarea {
  padding: 15px;
  font-size: 25px;
  border: 2px solid $blue_color;
  border-radius: $border_radius;
}
footer{
  position: fixed !important;
}
/*размеры планшетов*/
@media (max-width: 769px) {
  img{
    width: 6vw;
  }
}
/**/

/*размеры телефонов*/
@media (max-width: 481px) {

}

/**/


