{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Активности</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Eatings Pages/Activities/activities.css' %}" rel="stylesheet" />
    <link href="{% static 'css/Eatings Pages/general.css' %}" rel="stylesheet" />
    <!--Скрипт  -->
    <script src="{% static 'js/eatingbase/script_activities.js' %}"></script>
    {% progressive_web_app_meta %}
  </head>
<body>
<script>
  var searchInput = document.getElementById('search-input');

  searchInput.addEventListener('input', debounce(function() {
    var query = searchInput.value;
    if (query.length > 0) {
      var results = document.getElementsByClassName('product-item');
      for (var i = 0; i < results.length; i++) {
        var result = results[i];
        var text = result.querySelector('text').textContent.toLowerCase();
        if (text.includes(query.toLowerCase())) {
          result.style.display = 'block';
        } else {
          result.style.display = 'none';
        }
      }
    } else {
      var results = document.getElementsByClassName('product-item');
      for (var i = 0; i < results.length; i++) {
        var result = results[i];
        result.style.display = 'block';
      }
    }
  }, 300));

  function debounce(func, delay) {
    var timer = null;
    return function() {
      clearTimeout(timer);
      timer = setTimeout(func, delay);
    }
  }
</script>

<h1>Активности</h1>

<a href="{% url 'calories_and_bjy' %}" class="general-button">Назад</a>


<!--<a href="#" class="buttonMod" onclick="openModal()">создать продукт</a>-->
<!--<div id="modal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close" onclick="closeModal()">&times;</span>-->
<!--    <form action="" method="post">-->
<!--      {% csrf_token %}-->
<!--      {{ form }}-->
<!--      <button type="submit">Сохранить</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->


<!--Поиск продуктов-->
<form action="" class="search" method="GET" autocomplete="off">
   <input type="text" id="search-input" name="search" placeholder="Поиск..." value="{{ search_query|default_if_none:'' }}">
   <select name="category">
       <option value="">Все категории</option>
       {% for category in categories %}
           <option value="{{ category }}">{{ category }}</option>
       {% endfor %}
   </select>
   <button class="search-button" type="submit"><img src="{% static 'accets/поиск.png' %}" /></button>
</form>
<!--Поиск продуктов-->

<div style="width: 70%;">
    <div id="scrollTopButton">&#8679;</div>

    {% for activity in activities %}

    <div class="activities-item">
        <text style="color: #293b4b; font-size: 20px;">{{ activity.activity_type }}</text>
        <button onclick="openModal({{ activity.id }})" id="add-button" class="general-button">Добавить</button>
        <div id="modal-{{ activity.id }}" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal({{ activity.id }})">&times;</span>
                <form method="post" action="{% url 'add_activity_view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="activities_id" value="{{ activity.id }}">
                    <label for="time-input">Введите время (мин):</label>
                    <input type="number" name="time" id="time-input" inputmode="numeric" required>
                    <button type="submit" class="general-button" class="buttonMod">Добавить активность</button>
                </form>
            </div>
        </div>
    </div>

    {% empty %}
    <p>Ничего не найдено</p>
    {% endfor %}

</div>


</body>
</html>