{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
        <title>Активности</title>
        <!--Медиа запросы, адаптив-->
        <link href="{% static 'css/Eatings Pages/eatings.css' %}" rel="stylesheet" />
        <!--Скрипт-->
        <!--<script defer src="{% static 'js/main.js' %}"></script>-->
      </head>
<body>

<h>Активности</h>
<a href="{% url 'calories_and_bjy' %}" class="buttonMod">назад</a>


<!--<a href="#" class="buttonMod" onclick="openModal()">создать продукт</a>-->
<!--<div id="modal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close" onclick="closeModal()">&times;</span>-->
<!--    <form action="" method="post">-->
<!--      {% csrf_token %}-->
<!--      {{ form }}-->
<!--      <button type="submit">Сохранить</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->


<!--Поиск продуктов-->
<form action="" class="search" method="GET">
   <input type="text" name="search" placeholder="Поиск..." value="{{ search_query|default_if_none:'' }}">
   <button type="submit"><img src="{% static 'accets/поиск.png' %}" /></button>
</form>
<!--Поиск продуктов-->

<div style="width: 70%;">
    {% for el in activity %}
    <div class="product-item">
      <text style="color: black; font-size: 20px;">{{ el.activity_type }}</text>
      <!--<p>Каллории: {{ el.calories_in }}</p>-->
      <!--<p>Время: {{ el.time }}</p>-->
      <button onclick="openModal({{ el.id }})">Добавить</button>
      <div id="modal-{{ el.id }}" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal({{ el.id }})">&times;</span>
              <form method="post" action="{% url 'add_activity_view' %}">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ el.id }}">
                  <label for="time-input">Введите время:</label>
                  <input type="number" name="time" id="time-input" required>
                  <button type="submit">Добавить активность</button>
              </form>
          </div>
      </div>
  </div>
  {% empty %}
  <p>Ничего не найдено</p>
  {% endfor %}

<script>
    function openModal(id) {
        document.querySelector(`#modal-${id}`).style.display = "block";
    }

    function closeModal(id) {
        document.querySelector(`#modal-${id}`).style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = "none";
        }
    }

</script>

<!--<script>-->
<!--    var modal = document.getElementById("modal");-->

<!--function openModal() {-->
<!--  modal.style.display = "block";-->
<!--}-->

<!--function closeModal() {-->
<!--  modal.style.display = "none";-->
<!--}-->

<!--window.onclick = function(event) {-->
<!--  if (event.target === modal) {-->
<!--    closeModal();-->
<!--  }-->
<!--};-->

<!--</script>-->
</body>
</html>