{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Калории</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link media="screen and (max-width: 400px)" href="{% static 'css/Calories Page/calories400.css' %}" rel="stylesheet"/>
    <link media="screen and (min-width: 401px)" href="{% static 'css/Calories Page/calories600.css' %}" rel="stylesheet"/>
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend&display=swap" rel="stylesheet">
    <!--Скрипт
        <script defer src="{% static 'js/main.js' %}"></script>
    -->
    <script>
        document.querySelectorAll('.clickable').forEach(item => {
          item.addEventListener('click', event => {
            event.target.parentElement.classList.toggle('active');
          });
        })
        </script>
<!--    это стили которые делают рабочим выдвижную чтучку на завтраке обеде и ужене при нажатии, а без них не работает так что подредачь их-->
<!--    <style>-->
<!--        .eatings .content {-->
<!--    display: none;-->

<!--}-->

<!--.eatings.active .content {-->
<!--    display: block;-->
<!--}-->

<!--.clickable {-->
<!--    cursor: pointer;-->
<!--}-->
<!--    </style>-->
</head>
<body>
<a href="{% url 'profile' %}" class="profile">p</a>

    <form method="get">
        {{ form }}
        <div class="row-buttons">
        <button type="submit" name="move" value="prev"><-Стас</button>
        <button type="submit" name="move" value="next">Петух-></button>
            </div>
    </form>

<div class="block">Калории
<div class="nutrition-div" style="margin-top: 20px; font-size: 20px;">Норма
    <p>{{ male }}</p>
</div>

<div class="container" style="grid-template-columns: auto auto">
    <div class="nutrition-div">Потреблено
        <p>{{ total_calories }}</p>
    </div>
    <div class="nutrition-div">Сожжено
        <p>{{ acttotal_calories }}</p>
    </div>
</div>
</div>

<div class="block">
БЖУ
<div class="container">
    <div class="nutrition-div">Белки
        <p  style="color: #ca517a;">{{ total_proteins }}</p>
    </div>
    <div class="nutrition-div">Жиры
        <p style="color: #fbb20d;">{{ total_fats }}</p>
    </div>
    <div class="nutrition-div">Углеводы
        <p style="color: #4887ba" >{{ total_carbohydrates }}</p>
    </div>
</div>
</div>

   <div class="eatings" style="margin-top: 40px;">
    <div class="breakfast clickable">
        <a href="{% url 'breakfast' %}" class="buttonMod">Завтрак</a><br>
        <div>
                {% if bproteins and bfats and bcarbohydrates %}
                калории: {{ bcalories_in }}<br>
                Б- {{ bproteins }}
                Ж- {{ bfats }}
                У- {{ bcarbohydrates }}
                {% endif %}
            </div>

            <div class="content">
                <h1>Отчёт завтрака</h1>

                <div class="product-eatings">
                    {% for product in bproducts %}
                    <div class="product-item">
                        <h4>{{ product.product.name }}</h4>
                        <p>Каллории: {{ product.product.calories_in }}</p>
                        <p>Белки: {{ product.product.proteins }}</p>
                        <p>Жиры: {{ product.product.fats }}</p>
                        <p>Углеводы: {{ product.product.carbohydrates }}</p>
                        <p>Масса: {{ product.weight }}</p>
                        <form method="POST" action="{% url 'remove_from_list'  product.product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="meal_type" value="breakfast">
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                    {% empty %}
                    <p>Ничего не найдено</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    <div class="eatings">
    <div class="breakfast clickable">
        <a href="{% url 'lunch' %}" class="buttonMod">Обед</a><br>
        <div>
                {% if proteins and fats and carbohydrates %}
                калории: {{ calories_in }}<br>
                Б- {{ proteins }}
                Ж- {{ fats }}
                У- {{ carbohydrates }}
                {% endif %}
            </div>
            <div class="content">


                <h1>Отчёт обеда</h1>

                <div class="product-eatings">
                    {% for product in lproducts %}
                    <div class="product-item">
                        <h4>{{ product.product.name }}</h4>
                        <p>Каллории: {{ product.product.calories_in }}</p>
                        <p>Белки: {{ product.product.proteins }}</p>
                        <p>Жиры: {{ product.product.fats }}</p>
                        <p>Углеводы: {{ product.product.carbohydrates }}</p>
                        <p>Масса: {{ product.weight }}</p>
                        <form method="POST" action="{% url 'remove_from_list' product.product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="meal_type" value="lunch">
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                    {% empty %}
                    <p>Ничего не найдено</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


   <div class="eatings">
    <div class="breakfast clickable">
        <a href="{% url 'dinner' %}" class="buttonMod">Ужин</a><br>
        <div>
                {% if dproteins and dfats and dcarbohydrates %}
                калории: {{ dcalories_in }}<br>
                Б- {{ dproteins }}
                Ж- {{ dfats }}
                У- {{ dcarbohydrates }}
                {% endif %}
            </div>

            <div class="content">
                <h1>Отчёт Ужин</h1>

                <div class="product-eatings">
                    {% for product in dproducts %}
                    <div class="product-item">
                        <h4>{{ product.product.name }}</h4>
                        <p>Каллории: {{ product.product.calories_in }}</p>
                        <p>Белки: {{ product.product.proteins }}</p>
                        <p>Жиры: {{ product.product.fats }}</p>
                        <p>Углеводы: {{ product.product.carbohydrates }}</p>
                        <p>Масса: {{ product.weight }}</p>
                        <form method="POST" action="{% url 'remove_from_list' product.product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="meal_type" value="dinner">
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                    {% empty %}
                    <p>Ничего не найдено</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="eatings">
        <div class="breakfast clickable">
            <a href="{% url 'snack' %}" class="buttonMod">Перекус</a><br>
            <div>
                {% if sproteins and sfats and scarbohydrates %}
                калории: {{ scalories_in }}<br>
                Б- {{ sproteins }}
                Ж- {{ sfats }}
                У- {{ scarbohydrates }}
                {% endif %}
            </div>

            <div class="content">

                <h1>Отчёт Перекуса</h1>

                <div class="product-eatings">
                    {% for product in sproducts %}
                    <div class="product-item">
                        <h4>{{ product.product.name }}</h4>
                        <p>Каллории: {{ product.product.calories_in }}</p>
                        <p>Белки: {{ product.product.proteins }}</p>
                        <p>Жиры: {{ product.product.fats }}</p>
                        <p>Углеводы: {{ product.product.carbohydrates }}</p>
                        <p>Масса: {{ product.weight }}</p>
                        <form method="POST" action="{% url 'remove_from_list' product.product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="meal_type" value="snack">
                            <input type="submit" value="Удалить">
                        </form>
                    </div>
                    {% empty %}
                    <p>Ничего не найдено</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="eatings">
        <div class="breakfast clickable">
            <a href="{% url 'activities' %}" class="buttonMod">Активности</a><br>
            <div>
                 <p>Сумма: {{ acttotal_calories }}</p>
             </div>

                <div class="content">
                    <h1>Отчёт Активности</h1>

                    <div class="product-eatings">
                         {% for activity, burned_calories in activities_and_calories %}
                        <div class="product-item">
                            <h4>{{ activity.product.activity_type }}</h4>
                            <p>Категория: {{  activity.product.category }}</p>
                            <p>Время: {{ activity.time }}</p>
                            <p>Сожженые {{ burned_calories }}</p>
                            <form action="{% url 'delete_activity' id=activity.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Удалить активность"/>
                            </form>
                        </div>
                        {% empty %}
                        <p>Ничего не найдено</p>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>


        <a href="{% url 'calories_and_bjy' %}" class="buttonMod">Дневник</a><br>
        <a href="{% url 'report' %}" class="buttonMod">Отчеты</a><br>

    <script>
document.querySelectorAll('.clickable').forEach(item => {
  item.addEventListener('click', event => {
    event.target.parentElement.classList.toggle('active');
  });
})


    </script>

</body>
</html>