{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/main.js' %}"></script>
    <style>
        .nutrition-div {
            display: inline-block;
            width: 30%;
            text-align: center;
            border: 1px solid #000;
            padding: 10px;
        }



















    </style>
    <style>

.container .content {
    display: none;

}

.container.active .content {
    display: block;
}

.clickable {
    cursor: pointer;
}


.buttonMod {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.buttonMod:hover {
    background-color: #f8f8f8;
}
.breakfast.clickable {
  display: inline-block;
  width: 200px;
  font-size: 14px; /* Обратите внимание, эта строка изменяет размер текста */
  border: 1px solid #000; /* Этот код добавляет тонкую черную обводку */
  padding: 10px; /* Добавляет немного отступа вокруг текста */
  text-align: center; /* Выравнивает текст по центру */
}
.breakfast.clickable:hover {
  background-color: #f0f0f0; /* Меняет цвет фона при наведении мыши */
}


    </style>
</head>
<body>

<form method="get">
    {{ form }}
    <button type="submit" name="move" value="prev">Назад</button>
    <button type="submit" name="move" value="next">Вперед</button>
</form>

<a href="{% url 'profile' %}" class="buttonMod">профиль</a><br>
<h>Калории и БЖУ</h>
<div>
    <div class="nutrition-div">
        <h2>Потреблено</h2>
        <p>{{ total_calories }}</p>
    </div>
    <div class="nutrition-div">
        <h2>Норма</h2>
        <p>...</p>
    </div>
    <div class="nutrition-div">
        <h2>Сожжено</h2>
        <p>{{ total_calories_activities }}</p>
    </div>
    <div class="nutrition-div">
        <h2>Белки</h2>
        <p>{{ total_proteins }}</p>
    </div>
    <div class="nutrition-div">
        <h2>Жиры</h2>
        <p>{{ total_fats }}</p>
    </div>
    <div class="nutrition-div">
        <h2>Углеводы</h2>
        <p>{{ total_carbohydrates }}</p>
    </div>
</div>

<div class="container">
    <div class="breakfast clickable">
        <a href="{% url 'breakfast' %}" class="buttonMod">Завтрак</a><br>
        <div>
            {% if bproteins and bfats and bcarbohydrates %}
            калории: {{ bcalories_in }}<br>
            Б- {{ bproteins }}
            Ж- {{ bfats }}
            У- {{ bcarbohydrates }}
            {% endif %}
        </div>

        <div class="content">
            <h1>Отчёт завтрака</h1>

            <div class="product-container">
                {% for product in bproducts %}
                <div class="product-item">
                    <h4>{{ product.name }}</h4>
                    <p>Каллории: {{ product.calories_in }}</p>
                    <p>Белки: {{ product.proteins }}</p>
                    <p>Жиры: {{ product.fats }}</p>
                    <p>Углеводы: {{ product.carbohydrates }}</p>
                    <form method="POST" action="{% url 'remove_from_list' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="meal_type" value="breakfast">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                {% empty %}
                <p>Ничего не найдено</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="breakfast clickable">
        <a href="{% url 'lunch' %}" class="buttonMod">Обед</a><br>
        <div>
            {% if proteins and fats and carbohydrates %}
            калории: {{ calories_in }}<br>
            Б- {{ proteins }}
            Ж- {{ fats }}
            У- {{ carbohydrates }}
            {% endif %}
        </div>
        <div class="content">


            <h1>Отчёт обеда</h1>

            <div class="product-container">
                {% for product in lproducts %}
                <div class="product-item">
                    <h4>{{ product.name }}</h4>
                    <p>Каллории: {{ product.calories_in }}</p>
                    <p>Белки: {{ product.proteins }}</p>
                    <p>Жиры: {{ product.fats }}</p>
                    <p>Углеводы: {{ product.carbohydrates }}</p>
                    <form method="POST" action="{% url 'remove_from_list' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="meal_type" value="lunch">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                {% empty %}
                <p>Ничего не найдено</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="breakfast clickable">
        <a href="{% url 'dinner' %}" class="buttonMod">Ужин</a><br>
        <div>
            {% if dproteins and dfats and dcarbohydrates %}
            калории: {{ dcalories_in }}<br>
            Б- {{ dproteins }}
            Ж- {{ dfats }}
            У- {{ dcarbohydrates }}
            {% endif %}
        </div>

        <div class="content">
            <h1>Отчёт Ужин</h1>

            <div class="product-container">
                {% for product in dproducts %}
                <div class="product-item">
                    <h4>{{ product.name }}</h4>
                    <p>Каллории: {{ product.calories_in }}</p>
                    <p>Белки: {{ product.proteins }}</p>
                    <p>Жиры: {{ product.fats }}</p>
                    <p>Углеводы: {{ product.carbohydrates }}</p>
                    <form method="POST" action="{% url 'remove_from_list' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="meal_type" value="dinner">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                {% empty %}
                <p>Ничего не найдено</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="breakfast clickable">
        <a href="{% url 'snack' %}" class="buttonMod">Перекус</a><br>
        <div>
            {% if sproteins and sfats and scarbohydrates %}
            калории: {{ scalories_in }}<br>
            Б- {{ sproteins }}
            Ж- {{ sfats }}
            У- {{ scarbohydrates }}
            {% endif %}
        </div>

        <div class="content">

            <h1>Отчёт Перекуса</h1>

            <div class="product-container">
                {% for product in sproducts %}
                <div class="product-item">
                    <h4>{{ product.name }}</h4>
                    <p>Каллории: {{ product.calories_in }}</p>
                    <p>Белки: {{ product.proteins }}</p>
                    <p>Жиры: {{ product.fats }}</p>
                    <p>Углеводы: {{ product.carbohydrates }}</p>
                    <form method="POST" action="{% url 'remove_from_list' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="meal_type" value="snack">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                {% empty %}
                <p>Ничего не найдено</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="breakfast clickable">
        <a href="{% url 'activities' %}" class="buttonMod">Активности</a><br>
        <div>
            {% if acalories_in %}
            калории: {{ acalories_in }}<br>

            {% endif %}
        </div>
        <div class="content">
            <h1>Отчёт Активности</h1>

            <div class="product-container">
                {% for el in activity %}
                <div class="product-item">
                    <h4>{{ el.product.name }}</h4>
                    <p>Каллории: {{ el.product.calories_in }}</p>
                    <p>Время: {{ el.time }}</p>
                    <form action="{% url 'delete_activity' id=el.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Удалить активность"/>
                    </form>
                </div>
                {% empty %}
                <p>Ничего не найдено</p>
                {% endfor %}
            </div>


        </div>
    </div>
</div>


<a href="{% url 'calories_and_bjy' %}" class="buttonMod">Дневник</a><br>
<a href="{% url 'report' %}" class="buttonMod">Отчеты</a><br>
<script>
document.querySelectorAll('.clickable').forEach(item => {
  item.addEventListener('click', event => {
    event.target.parentElement.classList.toggle('active');
  });
})










</script>
</body>
</html>