{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Активности</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Eatings Pages/Activities/activities.css' %}" rel="stylesheet" />
    <link href="{% static 'css/Eatings Pages/general.css' %}" rel="stylesheet" />
    <!--Шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"rel="stylesheet"/>
    <!--Скрипт
      -->
    
    {% progressive_web_app_meta %}
  </head>
<body>

<h1>Активности</h1>

<a href="{% url 'calories_and_bjy' %}" class="general-button">На главную</a>
<a href="{% url 'category_list' %}" class="general-button">Назад к категориям</a>


<!--Поиск продуктов-->
<form action="" class="search" method="GET" autocomplete="off">
  <div class="input-wrapper">
    <input type="text" id="search-input" name="search" placeholder="Поиск..." value="{{ search_query|default_if_none:'' }}" />
      <div class="icon-wrapper">
        <img src="{% static 'accets/search.svg' %}" alt="Поиск" />
      </div>
    </div>
</form>
<!--Поиск продуктов-->


<div class="activities-list">
    <div id="scrollTopButton">&#8679;</div>

    {% for activity in activities %}

    <div class="activities-item">
        <text>{{ activity.activity_type }}</text>
        <button onclick="openModal({{ activity.id }})" id="add-button" class="general-button">Добавить</button>
        <div id="modal-{{ activity.id }}" class="modal">
            <div class="modal-content">
              <span class="close" onclick="closeModal({{ activity.id }})">&times;</span>
                <form method="post" action="{% url 'add_activity_view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="activities_id" value="{{ activity.id }}">
                    <label for="time-input">Введите время (мин):</label>
                    <input type="number" name="time" id="time-input" placeholder="(мин)" inputmode="numeric" required>
                    <button type="submit" class="general-button" style="margin-bottom: 0">Добавить активность</button>
                </form>
            </div>
        </div>
    </div>

    {% empty %}
    <p>Ничего не найдено</p>
    {% endfor %}

</div>

<script src="{% static 'js/eatingbase/script_activities.js' %}"></script>

</body>
</html>