{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Графики</title>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
        <!--Медиа запросы, адаптив-->
        <link href="{% static 'css/graphics.css' %}" rel="stylesheet" />
        <!--Скрипт
            <script defer src="{% static 'js/main.js' %}"></script>
        -->
    </head>
<body>


<text>Диаграмма сожженных калорий за неделю </text>
<img src="{{ image_path_1 }}" alt="Calories Chart">

<text>Диаграмма потраченных калорий за неделю</text>
<img src="{{ image_path_2 }}" alt="Calories Chart">



{% include 'footer.html' %}
</body>
</html>