{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Группы</title>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
        <!--Медиа запросы, адаптив-->
        <link href="{% static 'css/Groups Pages/Groups.css' %}" rel="stylesheet" />
        {% progressive_web_app_meta %}
    </head>
<body>

<div class="container">
    <form action="{% url 'creategroup' %}" method="post">
        {% csrf_token %}
        <input type="text" name="group_name" placeholder="Введите название группы" required>
        <button type="submit">Создать группу</button>
    </form>
    <text class="title" id="all">Существующие группы</text>
    <ul>
        {% for group in groups %}
        <li><a href="{% url 'groupdetail' group_id=group.id %}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% include 'footer.html' %}
</body>
</html>