{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <title>Добавить калории</title>
  <!--Медиа запросы, адаптив-->
  <link href="{% static 'css/Eatings Pages/Eatings.css' %}" rel="stylesheet" />
  <!--Скрипт-->
  <!--<script defer src="{% static 'js/main.js' %}"></script>-->
  {% progressive_web_app_meta %}
</head>

<body>
<style>

  #scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #008187;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#scrollTopButton.show {
    display: block;
}
</style>
  {% block content %}
  <!-- Основное содержимое страницы. Будет переопределено в наследованных шаблонах -->
  {% endblock %}

  <a href="#" class="buttonMod" style="margin-bottom: 2vw;" onclick="openModal()">Создать продукт</a>
  <div class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <form method="post">
        {% csrf_token %}
        <div class="title" style="width: 300px;">
          {{ form.name.label_tag }}
          {{ form.name }}
        </div>
        <div class="title" style="font-size: 20px;">
          {{ form.calories_in.label_tag }}
          {{ form.calories_in }}
        </div>
        <div class="bju-row">
          <div style="color: #ca517a;">
            {{ form.proteins.label_tag }}
            {{ form.proteins }}
          </div>
          <div style="color: #fbb20d;">
            {{ form.fats.label_tag }}
          {{ form.fats }}
          </div>
          <div style="color: #4887ba;">
            {{ form.carbohydrates.label_tag }}
          {{ form.carbohydrates }}
          </div>
        </div>
        <button class="buttonMod" type="submit">Создать</button>
      </form>
    </div>
  </div>

  <!--Поиск продуктов-->
  <form action="" class="search" method="GET">
    <input type="text" name="search" placeholder="Поиск..." value="{{ search_query|default_if_none:'' }}">
    <button type="submit"><img src="{% static 'accets/поиск.png' %}" /></button>
  </form>
  <!--Поиск продуктов-->

  <div class="product-container">
    <div id="scrollTopButton">&#8679;</div>

    {% for product in products %}
    <div class="product-item">
      <text>{{ product.name }}</text>
      <p>Каллории: {{ product.calories_in }}</p>

      <div class="product-row">
        <li style="color: #ca517a;">{{ product.proteins }} г.</li>
        <li style="color: #fbb20d;">{{ product.fats }} г.</li>
        <li style="color: #4887ba;">{{ product.carbohydrates }} г.</li>
      </div>

      {% block contenbutton %}
      {% endblock %}
    </div>
    {% empty %}
    <p>Ничего не найдено</p>
    {% endfor %}
  </div>

  <script>
    var modal = document.querySelector(".modal");
//  document.querySelector('.modal').style.display = 'flex';
function openModal() {
  modal.style.display = "block";

}

function closeModal() {
  modal.style.display = "none";
}

function openModal2(productID) {
  var modalID = 'modal2_' + productID;
  document.getElementById(modalID).style.display = "block";
}

function closeModal2(productID) {
  var modalID = 'modal2_' + productID;
  document.getElementById(modalID).style.display = "none";
}

    window.onclick = function (event) {
      if (event.target === modal) {
        closeModal();
      } else if (event.target.classList.contains('modal2')) {
        event.target.style.display = "none";
      }
    };


  </script>
<script>
    // Получаем последнюю сохраненную позицию прокрутки
    var scrollPosition = sessionStorage.getItem('scrollPosition');

    // Восстанавливаем позицию прокрутки
    if (scrollPosition) {
        window.scrollTo(0, parseInt(scrollPosition));
    }

    // Сохраняем текущую позицию прокрутки перед обновлением страницы
    window.addEventListener('beforeunload', function () {
        sessionStorage.setItem('scrollPosition', window.scrollY);
    });
</script>
<script>
// Получаем кнопку прокрутки наверх
var scrollTopButton = document.getElementById('scrollTopButton');

// Отслеживаем событие прокрутки страницы
window.addEventListener('scroll', function () {
    // Если прокрутка больше определенной высоты, показываем кнопку
    if (window.scrollY > 400) {
        scrollTopButton.classList.add('show');
    } else {
        scrollTopButton.classList.remove('show');
    }
});

// Отслеживаем событие клика на кнопке
scrollTopButton.addEventListener('click', function () {
    // Прокручиваем страницу наверх
    window.scrollTo(0, 0);
});
</script>
</body>

</html>