{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>
{% block content %}
        <!-- Основное содержимое страницы. Будет переопределено в наследованных шаблонах -->
        {% endblock %}

<a href="#" class="buttonMod" onclick="openModal()">создать продукт</a>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Сохранить</button>
    </form>
  </div>
</div>


<form action="" method="GET">
  <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
  <button type="submit">Поиск</button>
</form>
<div class="product-container">
{% for product in products %}
  <div class="product-item">
    <h4>{{ product.name }}</h4>
    <p>Каллории: {{ product.calories_in }}</p>
    <p>Белки: {{ product.proteins }}</p>
    <p>Жиры: {{ product.fats }}</p>
    <p>Углеводы: {{ product.carbohydrates }}</p>
{% block contenbutton %}
    {% endblock %}
  </div>
{% empty %}
  <p>Ничего не найдено</p>
{% endfor %}
</div>

<script>
var modal = document.getElementById("modal");

function openModal() {
  modal.style.display = "block";
}

function closeModal() {
  modal.style.display = "none";
}

function openModal2(id) {
  document.querySelector('#modal2').style.display = "block";
}

function closeModal2(id) {
  document.querySelector('#modal2').style.display = "none";
}

function openModal3(id) {
  document.querySelector('#modal3').style.display = "block";
}

function closeModal3(id) {
  document.querySelector('#modal3').style.display = "none";
}

function openModal4(id) {
  document.querySelector('#modal4').style.display = "block";
}

function closeModal4(id) {
  document.querySelector('#modal4').style.display = "none";
}

window.onclick = function(event) {
  if (event.target === modal) {
    closeModal();
  } else if (event.target.classList.contains('modal2')) {
    event.target.style.display = "none";
  } else if (event.target.classList.contains('modal3')) {
    event.target.style.display = "none";
  } else if (event.target.classList.contains('modal4')) {
    event.target.style.display = "none";
  }
};


</script>
</body>
</html>