{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>
{% block content %}
        <!-- Основное содержимое страницы. Будет переопределено в наследованных шаблонах -->
        {% endblock %}


<a href="#" class="buttonMod" onclick="openModal()">добавить продукт</a>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Сохранить</button>
    </form>
  </div>
</div>


<form action="" method="GET">
  <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
  <button type="submit">Поиск</button>
</form>
<div class="product-container">
  {% for product in products %}
  <div class="product-item">
    <h4>{{ product.name }}</h4>
    <p>Каллории: {{ product.calories_in }}</p>
    <p>Белки: {{ product.proteins }}</p>
    <p>Жиры: {{ product.fats }}</p>
    <p>Углеводы: {{ product.carbohydrates }}</p>
  </div>
  {% empty %}
  <p>Ничего не найдено</p>
  {% endfor %}
</div>


</body>
</html>