{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>О мне</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Profile Page/pers_info.css' %}" rel="stylesheet" />
    {% progressive_web_app_meta %}
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>
        	 <script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }
   </script>
    <text class="title">Привет, {{ request.user.username }}</text>

    <!--
<div class="title-div">
    <img src="{% static 'accets/profile.png' %}"/>
    {{ personal_info.first_name }} {{ personal_info.last_name }}
    <img src="{% static 'accets/settings.png' %}"/>
</div>
-->


    <form method="post" style="margin-top: 20px;">
        {% csrf_token %}
        {% for field in form %}
        <div class="common-class">
            {% if field.name == 'weight' %}
            <text>Вес</text>
            {% elif field.name == 'height' %}
            <text>Рост</text>
            {% elif field.name == 'sex' %}
            <text>Пол</text>
            {% elif field.name == 'date_of_birth' %}
            <text>Полных лет</text>
            {% elif field.name == 'goals' %}
            <text>Цель</text>
            {% elif field.name == 'active' %}
            <text>Активность</text>
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="save">Сохранить</button>
    </form>

    {% block content %}
    {% include 'footer.html' %}
    {% endblock %}



</body>

</html>