{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>О мне</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Profile Page/pers_info.css' %}" rel="stylesheet" />
    {% progressive_web_app_meta %}
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <a href="{% url 'calories_and_bjy' %}" class="prev">
        <img src="{% static 'accets/prev-arrow.svg' %}" id="prev-logo" />
      </a>

    <header>
    <h3>Привет, {{ request.user.username }}</h3>
    <a href="{% url 'logout' %}">
        <img src="{% static 'accets/logout.svg' %}" id="logoutImg"/>
    </a>
    </header>

    <!--
<div class="title-div">
    <img src="{% static 'accets/profile.png' %}"/>
    {{ personal_info.first_name }} {{ personal_info.last_name }}
    <img src="{% static 'accets/settings.png' %}"/>
</div>
-->


    <form method="post" style="margin-top: 10px;">
        {% csrf_token %}
        {% for field in form %}
        <div class="common-class">
            {% if field.name == 'weight' %}
            <text>Вес</text>
            {% elif field.name == 'height' %}
            <text>Рост</text>
            {% elif field.name == 'sex' %}
            <text>Пол</text>
            {% elif field.name == 'date_of_birth' %}
            <text>Полных лет</text>
            {% elif field.name == 'goals' %}
            <text>Цель</text>
            {% elif field.name == 'active' %}
            <text>Активность</text>
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="general-button ">Сохранить</button>
    </form>

    {% block content %}
    {% include 'footer.html' %}
    {% endblock %}



</body>

</html>