<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
</head>
<body style="text-align: center;">
<style>
    html{
        background-color: #f2f3ed;
    }
    h1{
        margin-top: 30%;
    }

    button{
    margin-top: 4vw;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border: 0;
    background-color: #2bbdb4;
    font-size: 20px;
    padding: 10px 20px;
    font-family: "Segoe UI";
    color: white;
    border-radius: 10px;

    }
</style>
<h1>Что-то пошло не так...</h1>
<button>Назад</button>

</body>
</html>