{% load static %} {% load pwa %}
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1"/>
<link href="{% static 'css/footer.css' %}" rel="stylesheet" />
{% progressive_web_app_meta %} {% block content %} {% endblock %}

<footer id="myFooter">
  <a href="{% url 'creategroup' %}" class="buttonFooter">
    <img src="{% static 'accets/журнал.png' %}" class="imgFooter"/></a>
  <a href="{% url 'display_chart' %}" class="buttonFooter">
    <img src="{% static 'accets/статистика.png' %}" class="imgFooter"/></a>
  <a href="{% url 'profile' %}" class="buttonFooter">
    <img src="{% static 'accets/profile.png' %}" class="imgFooter"/></a>
  <a href="{% url 'calories_and_bjy' %}" class="buttonFooter">
    <img src="{% static 'accets/kkal.png' %}" class="imgFooter"/></a>
  <a href="{% url 'person_info' %}" class="buttonFooter">
    <img src="{% static 'accets/pers_info.png' %}" class="imgFooter"/></a>
</footer>

<script>
window.addEventListener("DOMContentLoaded", function() {
  let footer = document.getElementById("myFooter");
  let documentHeight = Math.max(document.documentElement.scrollHeight, document.body.scrollHeight);

  function setFooterPosition() {
    let windowHeight = window.innerHeight;
    let scrollPosition = window.pageYOffset;
    let contentHeight = document.documentElement.clientHeight;
    
    if (contentHeight < windowHeight && contentHeight < documentHeight) {
      // Если контент небольшой и окно просмотра менее чем высота контента или всего документа
      footer.style.position = "fixed";
    } else if (scrollPosition + windowHeight >= documentHeight) {
      // Если пользователь долистал до конца страницы
      footer.style.position = "static";
    } else {
      // Во всех остальных случаях
      footer.style.position = "fixed";
    }
  }

  setFooterPosition();

  window.addEventListener("scroll", function() {
    setFooterPosition();
  });

  window.addEventListener("resize", function() {
    documentHeight = Math.max(document.documentElement.scrollHeight, document.body.scrollHeight);
    setFooterPosition();
  });
});

</script>
<!--document.getElementsByTagName("footer")[0].style.position = "static";