{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    {% progressive_web_app_meta %}
    <!--Шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
{% if user.is_authenticated %}
  {% url 'calories_and_bjy' as calories_and_bjy_url %}
  {% if calories_and_bjy_url %}
    <script>
      window.location.href = "{% url 'calories_and_bjy' %}";
    </script>
  {% endif %}
{% else %}
  <!-- Дополнительные действия для неаутентифицированных пользователей -->
{% endif %}
    <img src="{% static 'accets/new_logo.svg' %}" id="logo" />
    <h3>калькулятор калорий</h3>
        <div class="main">
            <a href="{% url 'login' %}" class="buttons" style="margin-top: 0px;">Войти</a>
            <a href="{% url 'register' %}" class="buttons" >Регистрация</a>
            <a href="{% url 'logout' %}" class="buttons" >Выйти</a>
        </div>

    {% block content %}
    {% include 'footer.html' %}
    {% endblock %}
</body>
</html>
