
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/main400.css' %}" rel="stylesheet"/>
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap" rel="stylesheet">
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
<img src="{% static 'accets/settings.png' %}" style="width: 50vw;" />
тут будет лого
<div class="main">
    <a href="{% url 'login' %}" style="margin-top: 0px;">Войти</a>
    <a href="{% url 'register' %}">Регистрация</a>
    <!--<p style="font-size: 15px;">Вы уже вошли как Коля писькосос обыкновенный, {{ user.username }}</p>-->
    <a href="{% url 'logout' %}">Выйти</a>
</div>

</body>
</html>