{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Шаг 1</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Login Pages/logins.css' %}" rel="stylesheet"/>
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

  <div class="page-container">
    <text>ДАВАЙТЕ ПОЗНАКОМИМСЯ</text>
    <form method="POST" action="{% url 'step1' %}">
      {% csrf_token %}
      {{ form.as_table }}
      <button type="submit" class="next">Далее</button>
    </form>
  </div>
</body>

</html>