{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Шаг 2</title>
  <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
  <!--Медиа запросы, адаптив-->
  <link href="{% static 'css/Login Pages/logins.css' %}" rel="stylesheet" />
  <!--Шрифт-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  {% progressive_web_app_meta %}
  <!--Скрипт-->
  <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>

  <h3>ваш пол</h3>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="sex" value="M">Мужской</button>
      <button type="submit" name="sex" value="F">Женский</button>
    </form>

</body>

</html>