{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Шаг 3</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Login Pages/logins.css' %}" rel="stylesheet"/>
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap" rel="stylesheet">
    {% progressive_web_app_meta %}
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

  <div class="page-container">
    <text>ВАШИ ПАРАМЕТРЫ</text>
    <form method="POST" action="{% url 'step3' %}">
      {% csrf_token %}
      {{ form.as_table }}
      <button type="submit" class="next">Далее</button>
    </form>
  </div>
</body>
</html>