{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link media="screen and (max-width: 400px)" href="{% static 'css/main400.css' %}" rel="stylesheet"/>
    <link media="screen and (min-width: 401px)" href="{% static 'css/main600.css' %}" rel="stylesheet"/>
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap" rel="stylesheet">
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

    {% if user.is_authenticated %}
        <p>Вы уже вошли в систему как {{ user.username }}</p>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Логин">
            <input type="password" id="password" name="password" placeholder="Пароль">
            <input type="submit" value="Войти" class="enter">
        </form>
    {% endif %}

</body>
</html>