{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link media="screen and (max-width: 400px)" href="{% static 'css/Profile Page/profile400.css' %}" rel="stylesheet"/>
    <link media="screen and (min-width: 401px)" href="{% static 'css/Profile Page/profile600.css' %}" rel="stylesheet"/>
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lexend&display=swap" rel="stylesheet">
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>


        <p style="color: red; font-size: 30px;">r34r443{{ user.username }}</p>
        <a href="{% url 'logout' %}">Выйти</a>

        <form method="post" action="{% url 'login' %}">
            <textarea placeholder="Тут какой-то ипут, хз для чего"></textarea>
        </form>


</body>
</html>