{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Profile Page/profile.css' %}" rel="stylesheet"/>
    <!--Скрипт-->
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>

тут будет лого
      <img src="{% static 'accets/profile.png' %}" style="width: 50vw;" />

      <div class="title"> 
        {{ user.username }}
        <a href="{% url 'logout' %}"><img src="{% static 'accets/выйти.png' %}"/></a>
      </div>      

        <form method="post" action="{% url 'login' %}">
            <textarea placeholder="Тут какой-то input, хз для чего"></textarea>
        </form>

      {% block content %}
      {% include 'footer.html' %}
      {% endblock %}

</body>
</html>