{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% progressive_web_app_meta %}
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
        	 <script>
       if ('serviceWorker' in navigator) {
           navigator.serviceWorker.register('{% url "sw.js" %}', { scope: '/' }).then(function(reg) {
               // registration worked
               console.log('Registration succeeded. Scope is ' + reg.scope);
           }).catch(function(error) {
               // registration failed
               console.log('Registration failed with ' + error);
           });
       }
   </script>
<button onclick="goBack()">Назад</button>
<h2>Fill your personal info</h2>
<h2>Hello, {{ request.user.username }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>


</body>
</html>