{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Login Pages/logins.css' %}" rel="stylesheet" />
    {% progressive_web_app_meta %}
    <!--Шрифт-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <h3>давайте познакомимся</h3>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">
            Создать аккаунт
        </button>
    </form>
</body>
</html>