{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <!--Медиа запросы, адаптив-->
    <link href="{% static 'css/Login Pages/logins.css' %}" rel="stylesheet" />
    {% progressive_web_app_meta %}
</head>

<body>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="next" style=" margin: 2vw auto;">
            Создать аккаунт
        </button>
    </form>
</body>
</html>