{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Детали пользователя</title>
    <link href="{% static 'css/Calories Page/calories.css' %}" rel="stylesheet" />
    {% progressive_web_app_meta %}
</head>

<body>

 <form method="get">
      <div class="row-buttons">
        <button type="submit" name="move" value="prev" class="arrow-logo">
          <img src="{% static 'accets/prev-arrow.svg' %}"/>
        </button>
        {{ form.date }}
        <div style="display: inline-block">{{ formatted_date }}</div>
        <button type="submit" name="move" value="next" class="arrow-logo">
          <img src="{% static 'accets/prev-arrow.svg' %}"style="transform: scaleX(-1);"/>
        </button>
      </div>
    </form>
    <h2>Информация о пользователе</h2>
    <h2 style="margin-block-start: 0em;
    margin-block-end: 0.4em;">{{ personal_info.first_name }}</h2>
    <h2 style="margin-block-start: 0em;
    margin-block-end: 0.4em;">{{ personal_info.last_name }}</h2>
     <h2 style="margin-block-start: 0em;
    margin-block-end: 0.4em;">{{ personal_info.weight }}</h2>
     <h2 style="margin-block-start: 0em;
    margin-block-end: 0.4em;">{{ personal_info.height }}</h2>
    <h2 style="margin-block-start: 0em;



    <!-- Дополнительная информация о пользователе -->
    <div class="block">Калории
        <div class="container">
            <div class="nutrition-div">Потреблено
<!--                Представь что есть данные -->
                <p>1000</p>
            </div>
            <div class="nutrition-div">Норма
            <p>{{ male }}</p>
        </div>
            <div class="nutrition-div" style="flex-basis: 50%;">Потрачено
            {% if user_age < 18 %}
         <p>{{ acttotal_calories_child|floatformat:"1" }}</p>
        {% else %}
         <p>{{ acttotal_calories|floatformat:"1" }}</p>
        {% endif %}

        </div>
        </div>
    </div>




<h1>Диаграмма потраченных калорий за неделю</h1>
<img src="/static/phototest/{{ user.username }}/chart_2.png" alt="Calories Chart">





    {% include 'footer.html' %}
</body>

</html>