$blue_color: rgb(4, 177, 211);
$white_color: white;
$gray_color: rgb(47, 47, 47);
$main_backgrounde: #f2f3ed;
$text_color: #0c1c2c;
$back_dark: #141414;
$font_big_text: 25px;
$font_med_text: 18px;
$font_sm_text: 13px;

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $main_backgrounde;
}

body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.row-buttons {
  flex-direction: row;
  margin-top: 5px;
  font-size: $font_med_text;

  button {
    font-size: 22px;
    color: $main_backgrounde;
    background-color: #008187;
    border: 0px;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    border-radius: 10px;
  }
}

.profile {
  margin-left: auto;
  font-size: 25px;
  color: $text_color;
  border: 0px;
  background-color: $blue_color;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}

.block {
  font-size: $font_big_text;
  width: 100%;
  margin: 3vw auto;
  font-weight: bold;
  color: $text_color;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;

    .nutrition-div {
      border-radius: 5px;
      box-sizing: border-box;
      border: 2px rgb(4, 177, 211) solid;
      font-size: 22px;
      border-radius: 10px;
      flex: 1;
      margin: 0 5px;
      text-align: center;
      font-weight: 500;
      padding: 9px 0;
      background-color: white;

      p {
        font-weight: 600;
        margin-block-start: 0.5em;
        margin-block-end: 0em;
      }
    }
  }
}
#water_form {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#water {
  border: 1px solid $blue_color;
  border-radius: 5px;
  padding: 10px;
}
.water-progress {
  background-color: #7fffd4;
  height: 20px;
  border-radius: 10px;
  transition: width 0.5s;
  max-width: 100%;
}
#id_date {
  display: none;
}

#delete_img {
  width: 3vw;
  cursor: pointer;
  transition: filter 0.3s ease;
}
#delete_img:hover {
  filter: brightness(0.9);
}

.eatings {
  border-radius: 10px;
  background-color: $white_color;
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: $font_big_text;
  color: $text_color;
  margin: 10px auto 0 auto;
  padding: 8px 15px;
  text-decoration: none;

  .buttonMod {
    color: white;
    text-decoration: none;
  }

  .breakfast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $blue_color;
      width: 30px;
      height: 30px;
      font-size: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
#water_div {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}
.product-item {
  border: 1px solid rgb(4, 177, 211);
  border-radius: 5px;
  font-size: $font_med_text;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 2px 2px rgb(4, 177, 211);
  transition: box-shadow 0.3s ease;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    :nth-child(1) {
      text-align: left;
    }

    :nth-child(2) {
      text-align: right;
    }
  }

  > p {
    font-size: $font_sm_text;
  }

  .product-row {
    margin-top: 20px;
    font-size: $font_med_text;
    display: flex;
    justify-content: space-around;
  }

  form {
    margin-top: 10px;
    display: flex;
    justify-content: end;

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}
.product-item:hover {
  box-shadow: 4px 4px rgb(4, 177, 211);
}

.summ_kkal {
  margin-right: auto;
  margin-top: 10px;
  font-size: $font_med_text;
}

.eatings .content {
  display: none;
}

.eatings.active .content {
  display: block;
  
}

.clickable {
  cursor: pointer;
}
/*размеры компьютеров*/
@media (max-width: 1025px) {
  #delete_img {
    width: 3vw;
  }
}
/**/

/*размеры планшетов*/
@media (max-width: 769px) {
  #delete_img {
    width: 3vw;
  }
  .block{
    width: 95%;
  }
}
/**/

/*размеры телефонов*/
@media (max-width: 481px) {
  #water_div {
    padding: 15px;
  }
  #delete_img {
    width: 6vw;
  }
  .block{
    width: 100%;
  }
}
/**/
