@charset "UTF-8";
html {
  font-family: "Inter", sans-serif;
  background: rgb(207, 255, 245);
  background: linear-gradient(180deg, rgb(207, 255, 245) 0%, rgb(241, 255, 252) 100%) no-repeat;
}

h3 {
  margin-block-start: 3em;
  color: #034236;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.row-buttons {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 17px;
}
.row-buttons button {
  font-size: 22px;
  color: white;
  background-color: #008187;
  border: 0px;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
  border-radius: 10px;
}

.block {
  text-align: center;
  font-size: 20px;
  width: 70%;
  margin: 3vw auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #034236;
}
.block .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding-top: 10px;
}
.block .container .nutrition-div {
  text-transform: none;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px rgb(4, 177, 211) solid;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  padding: 1vw 0;
  background-color: white;
}
.block .container .nutrition-div p {
  font-weight: 500;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}

#water_form {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#water {
  border: 1px solid #2bbdb4;
  border-radius: 5px;
  padding: 10px;
}

.water-progress {
  background-color: #7fffd4;
  height: 20px;
  border-radius: 10px;
  transition: width 0.5s;
  max-width: 100%;
}

#id_date {
  display: none;
}

#delete_img {
  width: 3vw;
  cursor: pointer;
  transition: filter 0.3s ease;
}

#delete_img:hover {
  filter: brightness(0.9);
}

.eatings {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
  font-weight: 600;
  font-size: 17px;
  color: #034236;
  margin: 1vw auto 0 auto;
  padding: 1vw 2vw;
  text-decoration: none;
}
.eatings .summ_kkal {
  margin-right: auto;
  margin-top: 1vw;
  font-size: 17px;
  font-weight: 400;
}
.eatings .breakfast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eatings .breakfast .plus {
  text-decoration: none;
  color: #2bbdb4;
  font-weight: 300;
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
}

#water_div {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

.product-item {
  padding-bottom: 5px;
  border-bottom: 1px solid #293b4b;
  font-size: 17px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease;
}
.product-item .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}
.product-item .title :nth-child(1) {
  text-align: left;
}
.product-item .title :nth-child(2) {
  text-align: right;
}
.product-item > p {
  font-size: 15px;
}
.product-item .product-row {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.product-item form {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.product-item form button {
  border: none;
  background: none;
  padding: 0;
}

.product-eatings p {
  text-align: center;
}

.product-item:hover {
  box-shadow: 4px 4px rgb(4, 177, 211);
}

.eatings .content {
  display: none;
}

.eatings.active .content {
  display: block;
}

.clickable {
  cursor: pointer;
}

/*размеры компьютеров*/
@media (max-width: 1025px) {
  #delete_img {
    width: 3vw;
  }
}
/**/
/*размеры планшетов*/
@media (max-width: 769px) {
  .block,
  .eatings {
    width: 85%;
  }
  #delete_img {
    width: 3vw;
  }
}
/**/
/*размеры телефонов*/
@media (max-width: 481px) {
  .block,
  .eatings {
    width: 100%;
  }
  .eatings {
    padding: 2vw 3vw;
    margin: 3vw auto 0 auto;
  }
  .nutrition-div {
    padding: 2vw 0;
  }
  .row-buttons {
    margin-top: 5vw;
  }
  #water_div {
    padding: 15px;
  }
  #delete_img {
    width: 6vw;
  }
}
/**/
/*размеры mini телефонов*/
@media (max-width: 350px) {
  .nutrition-div {
    font-size: 12px;
  }
}
/**//*# sourceMappingURL=calories.css.map */