@charset "UTF-8";
html {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: rgb(255, 237, 210);
  background: linear-gradient(0deg, rgba(255, 237, 210, 0.2) 0%, rgba(255, 241, 231, 0.2) 23%, rgba(232, 255, 249, 0.2) 67%, rgba(197, 219, 255, 0.2) 100%), no-repeat;
}

h2,
h3,
h4 {
  text-align: center;
}

.diagram_calories {
  width: 90%;
  display: block; /* Устанавливаем изображение как блочный элемент */
  margin: 1vw auto;
}

h3 {
  margin-block-start: 3em;
  color: #034236;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

#link_pers {
  position: absolute;
  right: 16vw;
  top: 2vw;
  padding: 7px;
  background-color: #2bbdb4;
  border-radius: 15px;
}

.img_link_pers {
  width: 4vw;
}

.row-buttons {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 17px;
}
.row-buttons .arrow-logo {
  transition: background-color 0.3s ease;
  background-color: transparent;
  border: 0px;
  z-index: 0;
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
.row-buttons .arrow-logo:hover {
  background-color: #80a9a0;
}

.block {
  text-align: center;
  font-size: 20px;
  width: 70%;
  margin: 3vw auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #034236;
}
.block .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding-top: 10px;
}
.block .container .nutrition-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-transform: none;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px rgb(4, 177, 211) solid;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  padding: 1vw 0;
  background-color: white;
}
.block .container .nutrition-div p {
  font-weight: 500;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}

#water_form {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#water {
  border: 1px solid #2bbdb4;
  border-radius: 5px;
  padding: 10px;
}

.water-progress {
  background-color: #7fffd4;
  height: 20px;
  border-radius: 10px;
  transition: width 0.5s;
  max-width: 100%;
}

#id_date {
  display: none;
}

#delete_img {
  width: 3vw;
  cursor: pointer;
  transition: filter 0.3s ease;
}

#delete_img:hover {
  filter: brightness(0.9);
}

.eatings {
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 70%;
  font-weight: 600;
  font-size: 17px;
  color: #034236;
  margin: 1vw auto 0 auto;
  padding: 1vw 2vw;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}
.eatings .summ_kkal {
  margin-right: auto;
  margin-top: 1vw;
  font-size: 17px;
  font-weight: 400;
}
.eatings .breakfast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eatings .breakfast .plus {
  text-decoration: none;
  color: #2bbdb4;
  font-weight: 300;
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
}

.eatings:hover {
  box-shadow: 2px 2px #80a9a0;
}

#water_div {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
}

.product-item {
  padding-bottom: 5px;
  border-bottom: 1px solid #293b4b;
  font-size: 17px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease;
}
.product-item .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}
.product-item .title :nth-child(1) {
  text-align: left;
}
.product-item .title :nth-child(2) {
  text-align: right;
}
.product-item > p {
  font-size: 15px;
}
.product-item .product-row {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.product-item form {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.product-item form button {
  border: none;
  background: none;
  padding: 0;
}

.product-eatings p {
  text-align: center;
}

.product-item:hover {
  box-shadow: 4px 4px rgb(4, 177, 211);
}

.eatings .content {
  display: none;
}

.eatings.active .content {
  display: block;
}

.clickable {
  cursor: pointer;
}

footer {
  position: fixed !important;
}

.menu__btn {
  display: inline-flex;
  align-items: center;
  position: fixed;
  top: 3vw;
  right: 19vw;
  cursor: pointer;
  z-index: 2;
}
.menu__btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  z-index: 2;
  background-color: #616161;
}
.menu__btn span::before {
  display: block;
  z-index: 2;
  position: absolute;
  background-color: #616161;
  content: "";
  top: -8px;
  right: 0vw;
  width: 30px;
  height: 3px;
}
.menu__btn span::after {
  display: block;
  z-index: 2;
  position: absolute;
  background-color: #616161;
  content: "";
  right: 0vw;
  width: 30px;
  top: 8px;
  height: 3px;
}

.menu__box {
  padding-top: 20%;
  text-align: left;
  display: block;
  background: linear-gradient(0deg, rgb(255, 237, 210) 0%, rgb(255, 241, 231) 23%, rgb(232, 255, 249) 67%, rgb(197, 219, 255) 100%), no-repeat;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.menu__item {
  padding: 1vw 2vw;
  width: 70%;
  margin: auto;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #2bbdb4;
  color: #034236;
  margin-bottom: 2vw;
  cursor: pointer;
  transition: filter 0.3s ease;
  font-weight: 800;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.menu__item .menu_img {
  width: 4vw;
  height: 4vw;
}

.menu__item:hover {
  filter: brightness(0.6);
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

#menu__toggle {
  display: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

/*размеры компьютеров*/
@media (max-width: 1025px) {
  #delete_img {
    width: 3vw;
  }
}
/**/
/*размеры планшетов*/
@media (max-width: 769px) {
  .menu__btn span {
    right: -10vw;
    width: 30px;
    top: 2vw;
  }
  .menu__btn span::before {
    top: -8px;
    right: 0vw;
    width: 30px;
    height: 2px;
  }
  .menu__btn span::after {
    right: 0vw;
    width: 30px;
    top: 8px;
    height: 2px;
  }
  .menu__item {
    width: 80%;
  }
  .header-menu {
    width: 50%;
  }
  .block,
  .eatings {
    width: 85%;
  }
  #delete_img {
    width: 3vw;
  }
}
/**/
/*размеры телефонов*/
@media (max-width: 481px) {
  .menu__btn span {
    right: -15vw;
    width: 30px;
    top: 5vw;
  }
  .menu__btn span::before {
    top: -8px;
    right: 0vw;
    width: 30px;
    height: 2px;
  }
  .menu__btn span::after {
    right: 0vw;
    width: 30px;
    top: 8px;
    height: 2px;
  }
  .menu__item {
    padding: 2vw 4vw;
    width: 80%;
    margin: auto;
    margin-bottom: 3vw;
  }
  .menu__item .menu_img {
    width: 7vw;
    height: 7vw;
  }
  .block {
    margin: 5vw auto;
  }
  .block,
  .eatings {
    width: 100%;
  }
  .eatings {
    padding: 2vw 3vw;
    margin: 3vw auto 0 auto;
  }
  .nutrition-div {
    padding: 2vw 0;
  }
  .row-buttons {
    margin-top: 5vw;
  }
  #water_div {
    padding: 15px;
  }
  #delete_img {
    width: 6vw;
  }
}
/**/
/*размеры mini телефонов*/
@media (max-width: 350px) {
  .nutrition-div {
    font-size: 12px;
  }
}
/**//*# sourceMappingURL=calories.css.map */