$blue_color: rgb(4,177,211);
$white_color: white;
$gray_color:rgb(47,47,47);
$main_backgrounde: #f7f8fa;
$text_color: #0c1c2c;
$back_dark: #141414;
$font_big_text: 25px;
$font_med_text: 18px;
$font_sm_text: 13px;
html {
    height: 100%;
    font-family: "Inter";
    background-color: $main_backgrounde;
  }
body{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: column;

    .row-buttons{
        flex-direction: row;
        margin-top: 5px;
        >*{
        width: 60px;
        font-size: 22px;
        color: $text_color;
        border: 0px;
        background-color: $blue_color;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        border-radius: 10px;
        }
    }
}
.profile{
    margin-left: auto;
    font-size: 25px;
    color: $text_color;
    border: 0px;
    background-color: $blue_color;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}
.block{
    font-size: $font_big_text;
    border-radius: 10px;
    margin-top: 20px;
    background-color: $blue_color;
    color: $white_color;
    padding: 15px;
    .nutrition-div{
        //background-color: $white_color;
        font-size: $font_med_text;
        border-radius: 5px;
        margin: 5px;
    }
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
  >*{
    text-align: center;
  }
  }
.eatings{
    border-radius: 10px;
    background-color: $white_color;
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: $font_big_text;
    color: $text_color;
    margin: 10px auto 0 auto;
    border: 0px;
    padding: 8px 15px;
    text-decoration: none;   
    .buttonMod{
        color: white;
        text-decoration: none;   
    }
    .breakfast{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
            text-decoration: none;
            color:$blue_color;
            width: 30px;
            height: 30px;
            font-size: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.product-item{
    border-bottom: 1px solid $blue_color;
    font-size: $font_med_text;
    margin-top: 20px;
    padding-bottom: 5px;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    >p{
        font-size: $font_sm_text;
    }
    .product-row{
        margin-top: 20px;
        font-size: $font_med_text;
        display: flex;
        justify-content: space-around;
    }
    form{
        margin-top: 20px;
    }
}
.summ_kkal{
    margin-right: auto;
    margin-top: 10px;
    font-size: $font_med_text;
}
.eatings .content {
    display: none;
  }
.eatings.active .content {
    display: block;
}
.clickable {
    cursor: pointer;
}



