$blue_color: #008187;
$gray_color: #293b4b;
$font_main_text: 28px;
$font_ps_text: 15px;
$border_radius: 15px;

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
    url('SegoeUI.woff2') format('woff2'),
    url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI_Bold';
  src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
    url('SegoeUI-Bold.woff2') format('woff2'),
    url('SegoeUI-Bold.woff') format('woff'),
    url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  font-family: "Segoe UI";
  background-color: white;
}

text {
  width: 80%;
  font-size: $font_main_text;
  color: $gray_color;
  text-align: center;
  margin-bottom: 5%;
}

form {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid $blue_color;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 20px;
    font-size: $font_main_text;
    border: 2px solid $blue_color;
    border-radius: $border_radius;
    padding: 20px 30px;
    background-color: white;
    color: $gray_color;
  }

  label {
    font-size: $font_main_text;
    margin: 20px auto 0 auto;
  }
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
}



button,
.next {
  margin-top: 5vw;
  box-sizing: border-box;
  text-align: center;
  border: 0;
  background-color: $blue_color;
  font-size: $font_main_text;
  padding: 10px 20px;
  font-family: "Segoe UI";
  color: white;
  border-radius: $border_radius;
}


.form_toggle-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  >div {
    text-align: center;

    label {
      display: flex;
      flex-direction: column-reverse;

      input[type="radio"]{
        margin: auto;
        margin-top: 10px;
        color: $blue_color;
      }
    }
  }

}
input[type="radio"] {
  width: 10px; /* задать желаемую ширину */
  height: 10px;
  -webkit-appearance: none; /* убрать стандартный внешний вид браузера */
  -moz-appearance: none;
  appearance: none;
  border: 2px solid $blue_color; /* задать стиль рамки */
  border-radius: 50%; /* сделать радио-кнопку круглой */
  outline: none; /* убрать контур при фокусе */
}

input[type="radio"]:checked {
  background-color: $blue_color; /* изменить цвет радио-кнопки при выборе */
}
@media (min-width: 480px) {
  .page-container {
    padding-top: 10%;
  }

  form {
    padding-top: 15vw;
  }

  button,
  .next {
    margin-top: 8vw;
    font-size: 30px;
    padding: 15px 25px;
  }
}