$blue_color: #008187;
$gray_color: #293b4b;
$main_backgrounde: #f2f3ed;
$font_main_text: 24px;
$font_ps_text: 20px;
$border_radius: 15px;

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
        url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff'),
        url('SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI_Bold';
    src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
        url('SegoeUI-Bold.woff2') format('woff2'),
        url('SegoeUI-Bold.woff') format('woff'),
        url('SegoeUI-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: "Segoe UI";
    background-color: $main_backgrounde;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 2px solid $blue_color;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        font-size: 18px;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form {
            display: inline;
        }

        a {
            text-decoration: none;
            color: #333;
            transition: color 0.3s ease-in-out;
        }
    }
}

button {
    padding: 5px 10px;
    font-size: $font_ps_text;
    background-color: #008187;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


li a:hover {
    color: #008187;
}

li button:hover {
    background-color: #006c6f;
}

select {
    padding: 5px;
    border-radius: 5px;
    font-size: $font_ps_text;
    border: 1px solid $blue_color;
}
option {
    padding: 0px;
    font-size: 12px;
}

button[type="submit"] {
    background-color: #008187;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}