$blue_color: #2bbdb4;
$gray_color: #293b4b;
$green_color: #034236;
$main_backgrounde: white;
$font_20px: 20px;
$font_17px: 17px;
$font_15px: 15px;
$border_radius: 10px;

html {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: rgb(255, 237, 210);
  background: linear-gradient(
    0deg,
    rgba(255, 237, 210, 0.8) 0%,
    rgba(255, 241, 231, 0.8) 23%,
    rgba(232, 255, 249, 0.8) 67%,
    rgba(197, 219, 255, 0.8) 100%
  );
}

.prev {
  padding: 10px;
  border-radius: $border_radius;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  #prev-logo {
    width: 10px;
  }
}
.prev:hover {
  background-color: #80a9a0;
}
h2,
h3 {
  margin-block-start: 0em;
  text-align: center;
  color: $green_color;
  font-weight: 600;
  font-size: $font_20px;
}
p {
  text-align: center;
  font-size: $font_17px;
  color: $green_color;
}
/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  position: relative;
  margin: 15% auto;
  padding: 20px;
  border-radius: $border_radius;
  width: 80%;
  max-width: 600px;
}
.close {
  float: right;
  position: absolute;
  top: 1vw;
  right: 2vw;
  cursor: pointer;
  font-size: 25px;
  color: $blue_color;
}
.search {
  width: 90%;
  margin: auto;
  .input-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid $blue_color;
    border-radius: $border_radius;
    padding: 1vw;
    background-color: white;
  }
  #searchButton {
    width: 3vw;
    text-align: center;
    background-color: transparent;
    font-size: $font_15px;
    padding: 0px;
    border: none;
    cursor: pointer;
  }

  .input-wrapper input {
    font-size: $font_17px;
    flex: 1;
    border: none;
    outline: none;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
  }

  .icon-wrapper img {
    width: 3vw;
  }
}
.conteiner {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}
.groupe-row {
  width: 80%;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  h3 {
    margin-block-end: 0em;
  }
  button {
    width: 20%;
  }
}
.new-user {
  width: 90%;
  margin: 1vw auto;
  font-size: $font_17px;
  background-color: white;
  border-radius: $border_radius;
  padding: 10px;
  display: flex;
  border: 2px solid $blue_color;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
}
.person-groupe {
  width: 80%;
  margin: 1vw auto;
  font-size: $font_17px;
  background-color: white;
  border-radius: $border_radius;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  form {
    width: 20%;
    display: inline;
    button {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
}
button {
  width: 100%;
  text-align: center;
  background-color: $blue_color;
  border-radius: $border_radius;
  font-size: $font_15px;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
}

button:hover {
  filter: brightness(0.6);
}

footer {
  position: fixed !important;
}

#addButton {
  width: 20%;
}

/*размеры планшетов*/
@media (max-width: 769px) {
  .groupe-row {
    width: 80%;
  }
}
/**/
/*размеры планшетов*/
@media (max-width: 481px) {
  .groupe-row {
    width: 100%;
    button {
      width: 30%;
    }
  }
  .search {
    width: 100%;
    .input-wrapper {
      padding: 2vw;
    }
    #searchButton,
    .icon-wrapper img {
      width: 6vw;
    }
  }
  .close {
    right: 3vw;
    font-size: 30px;
  }
  .new-user {
    width: 100%;
    margin-top: 3vw;
  }
  .person-groupe {
    width: 90%;
    form {
      width: 30%;
    }
  }
  .prev {
    padding: 10px;
    #prev-logo {
      width: 15px;
    }
  }
  #addButton {
    width: 30%;
  }
}
/**/
