$blue_color: #2bbdb4;
$gray_color: #293b4b;
$green_color: #034236;
$main_backgrounde: white;
$font_20px: 20px;
$font_17px: 17px;
$font_15px: 15px;
$border_radius: 10px;

html {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: rgb(207, 255, 245);
  background: linear-gradient(
      180deg,
      rgba(207, 255, 245, 1) 0%,
      rgba(241, 255, 252, 1) 100%
    )
    no-repeat;
}
#all {
  border-top: 1px solid black;
  width: 100%;
  font-size: $font_17px;
  text-align: center;
  margin-top: 2vw;
  padding-top: 2vw;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 2vw auto;
  border-radius: $border_radius;
  padding: 2vw;
  .title {
    margin-bottom: 2vw;
    font-weight: 600;
    color: $gray_color;
  }
  .ps_text {
    font-size: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
#delete {
  padding: 10px;
  font-size: 20px;
}
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  font-size: $font_20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

button[type="submit"] {
  font-size: $font_20px;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #008187;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

button[type="submit"]:hover {
  filter: brightness(0.6);
}

.one-groupe {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  font-size: $font_17px;
  border: 2px solid $blue_color;
  margin-bottom: 10px;
  transition: filter 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  color: $gray_color;
}
.one-groupe:hover {
  filter: brightness(0.9);
}
select {
  font-size: $font_20px;
  border: 1px solid $blue_color;
  border-radius: 5px;
  padding: 5px;
  option {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
  }
  option:hover {
    background-color: $blue_color;
  }
}
footer {
  bottom: 0;
  position: fixed !important;
  margin: 3vw auto;
  left: 0;
  right: 0;
}

/*размеры планшетов*/
@media (max-width: 769px) {
  .container {
    width: 70%;
  }
}
/**/

/*размеры телефонов*/
@media (max-width: 481px) {

  .container {
    margin-top: 0;
    width: 90%;
  }
}
/**/
