$blue_color: #2bbdb4;
$gray_color: #293b4b;
$green_color: #034236;
$main_backgrounde: white;
$font_20px: 20px;
$font_17px: 17px;
$font_15px: 15px;
$border_radius: 10px;
//модально окно для создания продукта
.modalCreacteProduct {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  .modalCreacteProduct-content {
    padding: 20px;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 10px;
    width: 80%;
    text-align: center;
  }
  .closeX {
    position: absolute;
    color: $blue_color;
    right: 2vw;
    text-align: center;
    top: 0;
    z-index: 1;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .closeX:hover,
  .closeX:focus {
    color: #293b4b;
  }
  .title {
    label {
      font-size: 24px;
    }
    input {
      margin-top: 2vw;
      font-size: 20px;
      padding: 5px 10px;
      border: 1px solid #2bbdb47;
      border-radius: 5px;
    }
  }
  .bju-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 80%;
        font-size: 20px;
        padding: 5px;
        text-align: center;
        border: 1px solid #2bbdb4;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }
  }
}
//каждый продукт
.product-item {
  display: flex;
  box-sizing: border-box;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: $border_radius;
  border: 2px solid $blue_color;
  font-size: $font_17px;

  text {
    text-align: center;
    font-weight: 600;
    color: $green_color;
    font-size: $font_20px;
  }
  p {
    color: $green_color;
    text-align: center;
    font-size: $font_17px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .product-row {
    padding-inline-start: 0px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: $font_17px;
    justify-content: space-between;
    li {
      list-style-position: inside;
    }
  }
}
//стилизация модального окна
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content2 {
  position: fixed;
  z-index: 1;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .row-up {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid $blue_color;
      border-radius: 5px;
      padding: 10px 5px;
      font-size: 18px;
      margin-top: 10px;
    }
    input:focus {
      border-color: #00a0e9;
      border-width: 2px;
      outline: none;
    }
    input:valid {
      border-color: #00b400;
      border-width: 2px;
    }
  }
  button {
    width: 70%;
  }
}

/*размеры планшетов*/
@media (max-width: 769px) {
  .modalCreacteProduct-content {
    width: 70%;
  }
  .modal-content {
    width: 70%;
    input {
      width: 30%;
    }
  }
  .search {
    img {
      width: 5vw;
    }
  }
}
/**/

/*размеры телефонов*/
@media (max-width: 481px) {
  .modalCreacteProduct-content {
    width: 80%;
  }
  .modal-content {
    width: 80%;
    input {
      width: 50%;
    }
  }
  .modal-content2 {
    width: 80%;
  }
}

/**/
